section{
  // 헤더에 패딩을 줘서 헤더 메뉴와 겹치지 않게 함
    // padding-bottom: 65px;
 }

.headerMenu {
  position: fixed;
  z-index: 999;
  width: 100%;
  // background-color: rgba(255, 255, 255, 0.9); // 배경색을 불투명하게 설정
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // 그림자 효과 추가
  }