.subtitle {
  font-size: 2rem;
  color: #007bff;
  /* 소제목과 내용의 간격 조절*/
  margin-bottom: 16px;
  text-align: center;
}

.content {
  font-size: 2.5rem;
  /* 소제목에서 조절할 것이므로 0으로 함 */
  margin-top: 0;
  /* 내용의 문단 간격 조절*/
  line-height: 1.3;
  text-align: center;
  }
