@import './weather.scss';

/* 전체 설정 */
.section {
  /* 좌우 여백 */
  padding-left: 100px;
  padding-right: 100px;
  /* 위치 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

/* 제목 배경화면 설정*/
.titleBackground {
  background: url("@img/main/buildings_back.png") no-repeat;
  background-size: cover;
}

/* 제목 위치 설정*/
// .titleDiv {
//   margin-bottom: 100px;
// }

/* 제목의 간격 및 폰트 크기 설정 */
.mainTitle, .mainTitleP {
  font-size: 4.5rem;
  /* 문단의 간격을 줄이기 위해 p 태그의 상단 마진 제거 */
  margin: 0 auto;
  opacity: .8;
}

.mainBtn {
  margin-top: 80px;
  display: flex; justify-content: center; gap: 16px;
  button {
    padding: 24px 60px;
    background: #1c1c22;
    width: inherit;
    opacity: .7;
    &:hover {
      opacity: 1;
      background: #000;
      color: white;
    }
  }
}

.weatherPage {
  height: 100vh;
  // background-color: #ccc;
  background: rgba(0, 0, 0, 0.2705882353);
  &>div {
    &:nth-of-type(1) {
      display: flex; justify-content: center; align-items: center;
    }
  }
}

// 배경 파란색 #081b38
.weatherBg {
  position: absolute;
  top: 0;
  z-index: -1;
}

/* 버튼 디자인 기능 설정 */
.custom-btn {
  color: #ffffff !important;
  font-size: 1.3rem !important;
  width: 100px; /* 버튼의 너비를 고정 */
  text-align: center; /* 버튼 텍스트를 가운데 정렬 */
}

/* 캐러셀 가운데 정렬 */
.carousel {
  width: 100%; /* 캐러셀 너비 설정 */
  max-width: 950px; /* 캐러셀 최대 너비 설정 */
  margin: 0 auto; /* 가로로 가운데 정렬 */
}