@import './weather.scss';

// weatherPage 스타일 적용
.weatherPage {
  height: 100vh;
  // background-color: #ccc;
  background: rgba(0, 0, 0, 0.2705882353);
  &>div {
    &:nth-of-type(1) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

/* 배경 파란색 #081b38 */
.weatherBg {
  position: absolute;
  top: 0;
  z-index: -1;
}

// main page 스타일 적용
/* 전체 설정 */
.section {
  /* 좌우 여백 */
  padding-left: 10%;
  padding-right: 10%;
  /* 위치 설정 */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* 제목 배경화면 설정*/
.titleBackground {
  background: url("@img/main/buildings_back.png") no-repeat;
  background-size: cover;
}

/* 대표 제목 위치 설정 */

/* 대표 제목의 간격 및 폰트 크기 설정 */
.mainTitle, .mainTitleP {
  font-size: 4.5rem;
  /* 문단의 간격을 줄이기 위해 p 태그의 상단 마진 제거 */
  margin: 0 auto;
  opacity: .8;
}
  
/* 대표 제목 아래 버튼 디자인 기능 설정 */
.mainBtn {
  margin-top: 80px;
  display: flex; justify-content: center; gap: 16px;
  button {
    padding: 20px 60px;
    background: #1c1c22;
    width: inherit;
    opacity: .7;
    /* 폰트 색 및 크기 */
    color: #ffffff;
    font-size: 1.3rem;
    &:hover {
      opacity: 1;
      background: #000;
      color: white;
    }
  }
}

/* 내용 레이아웃 */
.one-screen {
  background-color: #e8f6ff;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.col {
  flex: 1;
  padding: 15px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.three-screen {
  background-color: #e8f6ff;
}

.four-screen {
  position: relative;
}

.five-screen {
  position: relative;
}

/* 캐러셀 가운데 정렬 */
.carousel {
  width: 100%; /* 캐러셀 너비 설정 */
  max-width: 950px; /* 캐러셀 최대 너비 설정 */
  margin: 0 auto; /* 가로로 가운데 정렬 */
}

/* 링크 스타일 설정 */
.link-weader {
  /* 마진 설정 */
  margin-top: 50px;
  margin-right: 20px; 
  display: flex;
  justify-content: end; /* 왼쪽 정렬 */
}

.link-map {
  position: absolute;
  bottom: 20%;
  left: 28%;
}

.link-chatting {
  position: absolute;
  bottom: 38%;
  left: 28%;
}

.custom-link {
  font-size: 1.5rem; /* 폰트 크기 설정 */
  color: #007bff; /* 링크 색상 설정 */
  text-decoration: none; /* 밑줄 제거 */
}

.custom-link:hover {
  text-decoration: underline; /* 호버 시 밑줄 표시 */
}
