.nav li {
  cursor: pointer;
}

.box_container {
  position: relative;
}

.tab {
  width: 21%;
  overflow: scroll;
}

.tabs {
  width: 33%;
} 

.maps {
  height: 100vh;
  width: 78%;
  position: absolute;
  top: 0%;
  right: 0%;
}

.map {
  height: 100vh;
  width: 78%;
  position: absolute;
  top: 0%;
  right: 0%;
}