.map-search {
  display: flex;
  gap: 20px;
}

.left-panel {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-button {
  height: 40px;
}

.map {
  flex: 1;
  height: 450px;
  border: 1px solid #ccc;
}

.places-list {
  list-style: none;
  padding: 0;
  max-height: 400px; /* 최대 높이 설정 */
  overflow-y: auto; /* 스크롤 적용 */
}

.item {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.markerbg {
  display: inline-block;
  width: 36px;
  height: 37px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png') no-repeat;
}

.info {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.info h5 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: bold;
}

.info .gray {
  color: #888;
}

#pagination {
  margin-top: 10px;
  text-align: center;
}

#pagination a {
  display: inline-block;
  margin: 0 2px;
  padding: 2px 8px;
  border: 1px solid #ddd;
  color: #555;
  text-decoration: none;
  cursor: pointer;
}

#pagination a.on {
  border: 1px solid #000;
  font-weight: bold;
  /* background-color: #f2f2f2; */
}
