.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.m_login {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  text-align: center;
  width: 460px;
}

.m_login h3 {
  margin-bottom: 30px;
  font-size: 24px;
  color: #333;
}

.m_login h3 img {
  width: 50px;
}

.m_login .log_box {
  margin-bottom: 20px;
}

.m_login .in_ty1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  /* background: #f9f9f9; */
}

.m_login .in_ty1 span {
  margin-right: 10px;
}

.m_login .in_ty1 input {
  flex: 1;
  border: none;
  background: none;
  outline: none;
}

.s_bt {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.s_bt:hover {
  background-color: #0056b3;
}

.additional_links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.additional_links li {
  list-style: none;
}

.additional_links a {
  color: #007bff;
  text-decoration: none;
}

.additional_links a:hover {
  text-decoration: underline;
}

.social_login {
  display: flex;
  align-items: center;
  position: relative;
}

.social_login button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  background: none;
  color: #333;
  border-radius: 5px;
  /* margin-top: 10px; */
  cursor: pointer;
}

.social_login img {
  position: absolute;
  left: 5%;
  height: 40px;
  width: 40px;
}

.social_login button.google {
  border-color: #db4437;
  color: #db4437;
}



.social_login button:hover {
  opacity: 0.8;
}
