// 폰트 출처 : https://fonts.cafe24.com/

@font-face {
    font-family: 'Cafe24Danjunghae';
    src: url('./Cafe24Danjunghae-v2.0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Simplehae';
    src: url('./Cafe24Simplehae-v2.0.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
