.mainImage {
    max-width: 100px;
    height: auto; // 높이를 자동 조절하여 이미지 비율을 유지
  }

  .mainButton {
    margin-top: 20px; // 이미지와 버튼 사이에 간격 추가
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #0056b3;
    }
  }

.app {
  font-family: 'Noto Sans KR', sans-serif;
  height: 500vh; // 전체 화면 높이 설정
  .header {
    text-align: center;
    padding: 60px 20px;
    h1 {
      font-size: 2.5rem;
      color: #007bff;
    }
  }
  .content {
    max-width: 800px;
    margin: 0 auto;
    section {
      margin: 40px 20px;
      h2 {
        font-size: 2rem;
        color: #007bff;
        margin-bottom: 15px;
      }
      p {
        font-size: 1.1rem;
        line-height: 1.6;
      }
    }
  }
}